<footer id="footer_section" class="footer container">
  <div class="footer--wrapper">
    <div class="footer--contact">
      <div class="footer--title">
        <a href="index.html" class="footer--icon">watchcharm</a>
        <nav class="footer--address">
          <ul class="footer--social_list">
            <li class="footer--social_item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer--social_link"
              >
                <svg class="socia_ico" width="20" height="20">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer--social_item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer--social_link"
              >
                <svg class="socia_ico" width="20" height="20">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer--social_item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer--social_link"
              >
                <svg class="socia_ico" width="20" height="20">
                  <use href="/img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <address class="footer--tell_mobile">
        <a href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
      <div class="footer--title_context">
        <h2>
          Have the time of your life with our watches: where high-class
          craftsmanship meets impeccable design
        </h2>
      </div>
      <address class="footer--tell">
        <a href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
    </div>
    <div class="footer--navigation">
      <nav class="footer--nav">
        <ul class="footer--nav_list">
          <li class="footer--item">
            <a href="" class="footer--nav_link">Home</a>
          </li>
          <li class="footer--item">
            <a href="" class="footer--nav_link">About Us</a>
          </li>
          <li class="footer--item">
            <a href="" class="footer--nav_link">Catalog</a>
          </li>
          <li class="footer--item">
            <a href="" class="footer--nav_link">Sale</a>
          </li>
          <li class="footer--item">
            <a href="" class="footer--nav_link">Reviews</a>
          </li>
          <li class="footer--item">
            <a href="" class="footer--nav_link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <address class="footer--nav_address">
        <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </address>
    </div>
    <hr class="line-footer" />
    <div class="footer--nav_polycy">
      <p class="footer-copy">
        &copy; 2023 The Watch Spot. All rights reserved.
      </p>
      <div class="footer-links">
        <a href="/terms-of-service" class="footer-link">Terms of Service</a>
        <a href="/privacy-policy" class="footer-link">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
