 <footer id="footer_section" class="footer"> 
   <div class="container"> 
      <div class="footer-contact">
      <div class="logo-social-cont">
        <a class="footer-logo" href="./index.html">watchcharm
        </a>
        <ul class="footer-social-list">
          <li class="social-list-item">
            <a href="./https://www.facebook.com/goITclub/" class="social-list-link">
              <svg class="social-list-icon">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
    
          <li class="social-list-item">
            <a href="./https://www.instagram.com/goitclub/" class="social-list-link">
              <svg class="social-list-icon">
                <use href="/src/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a href="./https://www.youtube.com/c/GoIT" class="social-list-link">
              <svg class="social-list-icon">
                <use href="/src/img/icons.svg#icon-youtube">
                </use>
              </svg>
            </a>
        </ul>
      </div>
      <address class="footer-tell">
        <a href="tel:+380684439426" class="contacts-link">+380 (68) 443-94-26</a>
      </address>
    </div>
    
    <p class="footer-slogan">Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </p>
    
    <div class="nav-copyr-container">
      <div class="nav-address">
        <nav class="footer-nav">
          <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="./index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#about-us">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#catalog">Catalog</a></li>
            <li class="nav-item"><a class="nav-link" href="#sale">Sale</a></li>
            <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact-us">Contact Us</a></li>
          </ul>
        </nav>
        <div class="footer-address">1678 S. Pioneer Road Salt Lake City UT 84104
        </div>
      </div>
      <hr class="line-footer">
      <div class="footer-terms">
        <p class="copyright">©2023 The Watch Spot. All rights reserved.</p>
        <ul>
          <li class="terms">
            <a href="#" class=terms-link>Terms of Service</a>
          </li>
          <li class="terms">
            <a href="#" class=terms-link>Privacy Policy</a>
          </li>
    
        </ul>
    
      </div>
    </div>
  </div>
</footer>
