<header class="header-page">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="index.html" class="header-logo">WatchCharm</a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="index.html" class="header-nav-link current active_link"
            >Home</a
          >
        </li>
        <li class="header-nav-item">
          <a onclick="getActive()" href="#about_section" class="header-nav-link"
            >About us</a
          >
        </li>
        <li class="header-nav-item">
          <a
            onclick="getActive()"
            href="#catalog_section"
            class="header-nav-link"
            >Catalog</a
          >
        </li>
        <li class="header-nav-item">
          <a onclick="getActive()" href="#sale_section" class="header-nav-link"
            >Sale</a
          >
        </li>
        <li class="header-nav-item">
          <a
            onclick="getActive()"
            href="#reviews_section"
            class="header-nav-link"
            >Reviews</a
          >
        </li>
        <li class="header-nav-item">
          <a
            onclick="getActive()"
            href="#contact_section"
            class="header-nav-link"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <address class="socials">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-link"
          >
            <svg class="header-icons" width="20" height="20">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-link"
          >
            <svg class="header-icons" width="20" height="20">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="https://www.youtube.com/c/GoIT" class="header-social-link">
            <svg class="header-icons" width="20" height="20">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <div onclick="openModal()" class="header--mobile_menu"></div>
  </div>
</header>
