<section class=" section-wrap">
  <div class="container ">
    <div class="hero">
      <div class="text-imgs-div hero">
    <div class="hero-text">
    <h1 class="hero-h">Welcome to our <span class="hero-span">collection</span> of premium watches</h1>
    <p class="hero-p">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
  </div>
  <div class="hero-imgs">
  <ul class="hero-list">
    <li class="hero-li">
      <picture>
        <source 
        srcset="/img/hero/piple-one-desctop@1x.webp 1x, /img/hero/piple-one-desctop@2x.webp 2x"
        media="(min-width: 1280px)" />
        <source 
        srcset="/img/hero/piple-one-tablet@1x.webp 1x, /img/hero/piple-one-tablet@2x.webp 2x"
        media="(min-width: 768px)" />
        <source 
        srcset="/img/hero/piple-one-mobile@1x.webp 1x, /img/hero/piple-one-mobile@2x.webp 2x"
        media="(max-width: 767px)" />
      <img class="hero-piple"
      src="/img/hero/piple-one-mobile@1x.webp"
      srcset="/img/hero/piple-one-mobile@2x.webp"></picture>
    </li>
    <li class="hero-li">
      <picture>
        <source 
        srcset="/img/hero/piple-two-desctop@1x.webp 1x, /img/hero/piple-two-desctop@2x.webp 2x"
        media="(min-width: 1280px)"  />
        <source 
        srcset="/img/hero/piple-two-tablet@1x.webp 1x, /img/hero/piple-two-tablet@2x.webp 2x"
        media="(min-width: 768px)" />
        <source 
        srcset="/img/hero/piple-two-mobile@1x.webp 1x, /img/hero/piple-two-mobile@2x.webp 2x"
        media="(max-width: 767px)" />
      <img class="hero-piple" 
      src="/img/hero/piple-two-mobile@1x.webp"
      srcset="/img/hero/piple-two-mobile@2x.webp"></picture>
    </li>
    <li class="hero-li">
      <picture>
        <source 
        srcset="/img/hero/piple-three-desctop@1x.webp 1x, /img/hero/piple-three-tablet@2x.webp 2x"
        media="(min-width: 1280px)" />
        <source 
        srcset="/img/hero/piple-three-mobile@1x.webp 1x, /img/hero/piple-three-mobile@2x.webp 2x"
        media="(min-width: 768px)" />
        <source 
        srcset="/img/hero/piple-three-mobile@1x.webp, /img/hero/piple-three-mobile@2x.webp 2x"
        media="(max-width: 767px)" />
      <img class="hero-piple" 
      src="/img/hero/piple-three-mobile@1x.webp"
      srcset="/img/hero/piple-three-mobile@2x.webp"></picture>
     </li>
    </ul>
  <a class="hero-button" id="#footer">Scroll down</a>
 </div>
</div>
<div class="hero-main-pic">
  <picture>
    <source 
    srcset="/img/hero/rectangle-desctop@1x.jpg 1x, /img/hero/rectangle-desctop@2x.jpg 2x"
    media="(min-width: 1280px)" />
    <source 
    srcset="/img/hero/rectangle-tablet@1x.jpg 1x, /img/hero/rectangle-tablet@2x.jpg 2x"
    media="(min-width: 768px)" />
    <source 
    srcset="/img/hero/rectangle-mobile@1x.jpg 1x, /img/hero/rectangle-mobile@2x.jpg 2x"
    media="(max-width: 767px)" />
<img class="hero-pic" src="/img/hero/rectangle-mobile@1x.jpg"
srcset="/img/hero/rectangle-mobile@2x.jpg" ></picture>
</div>
  </div>
</div>
</section>
