<section class="reviews section-wrap">
  <div class="container-reviews">
    <h2 class="title-section-foto-reviews">Reviews</h2>
    <ul class="ul-foto-reviews">
      <li class="list-foto-reviews">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/reviews/john-wax-mobile@1x.webp 1x,
              ../img/reviews/john-wax-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ../img/reviews/john-wax-tablet@1x.webp 1x,
              ../img/reviews/john-wax-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/reviews/john-wax-desctop@1x.webp 1x,
              ../img/reviews/john-wax-desctop@2x.webp 2x
            "
          />
          <img
            src="../img/reviews/john-wax-desctop@1x.webp 1x"
            alt="Online Courses"
            class="foto-reviews"
            width="56"
            height="56"
          />
        </picture>
        <div class="info-team-reviews">
          <h3 class="title-foto-reviews">John Wax</h3>
          <p class="text-foto-reviews">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="list-foto-reviews">
        <picture>
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ../img/reviews/victoria-romashenko-tablet@1x.webp 1x,
              ../img/reviews/victoria-romashenko-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/reviews/victoria-romashenko-desctop@1x.webp 1x,
              ../img/reviews/victoria-romashenko-desctop@2x.webp 2x
            "
          />
          <img
            src="../img/reviews/victoria-romashenko-desctop@1x.webp 1x"
            alt="Online Courses"
            class="foto-reviews"
            width="56"
            height="56"
          />
        </picture>
        <div class="info-team-reviews">
          <h3 class="title-foto-reviews">Victoria Romashenko</h3>
          <p class="text-foto-reviews">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="list-foto-reviews">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/reviews/anastasia-trachuk-desctop@1x.webp 1x,
              ../img/reviews/anastasia-trachuk-desctop@2x.webp 2x
            "
          />
          <img
            src="../img/reviews/anastasia-trachuk-desctop@1x.webp 1x"
            alt="Online Courses"
            class="foto-reviews"
            width="56"
            height="56"
          />
        </picture>
        <div class="info-team-reviews">
          <h3 class="title-foto-reviews">Anastasia Trachuk</h3>
          <p class="text-foto-reviews">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
