<section class="reviews">
  <div class="container">
    <h2 class="title-section-foto">Reviews</h2>
    <ul class="ul-foto">
      <li class="list-foto">
        <img
          srcset="
            ../img/reviews/john-wax-desctop@1x.webp 1x,
            ../img/reviews/john-wax-desctop@2x.webp 2x
          "
          src="../img/reviews/john-wax-desctop@1x.webp"
          alt="John Max"
          width="56"
        />
        <div class="info-team">
          <h3 class="title-foto">John Wax</h3>
          <p class="text-foto">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="list-foto">
        <img
          srcset="
            ../img/reviews/victoria-romashenko-desctop@1x.webp 1x,
            ../img/reviews/victoria-romashenko-desctop@2x.webp 2x
          "
          src="../img/reviews/victoria-romashenko-desctop@1x.webp"
          alt="Victoria Romashenko"
          width="56"
        />
        <div class="info-team">
          <h3 class="title-foto">Victoria Romashenko</h3>
          <p class="text-foto">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      </li>
      <li class="list-foto">
        <img
          srcset="
            ../img/reviews/anastasia-trachuk-desctop@1x.webp 1x,
            ../img/reviews/anastasia-trachuk-desctop@2x.webp 2x
          "
          src="../img/reviews/anastasia-trachuk-desctop@1x.webp"
          alt="Anastasia Trachuk"
          width="56"
        />
        <div class="info-team">
          <h3 class="title-foto">Anastasia Trachuk</h3>
          <p class="text-foto">
            My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>