<section id="sale_section" class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
      <div class="sale-block-list">
        <ul class="sale-image-list">
          <li class="sale-image-item">
            <picture class="sale-watch-img">
                <source srcset="/img/sale/watch-one-desctop@1x.webp 1x, 
                                /img/sale/watch-one-desctop@2x.webp 2x"
                                media="(min-width: 1280px)" />
                <source srcset="/img/sale/watch-one-tablet@1x.webp 1x,
                                /img/sale/watch-one-tablet@2x.webp 2x"
                                media="(min-width: 768px)" />
                <source srcset="/img/sale/watch-one-mobile@1x.webp 1x,
                                /img/sale/watch-one-mobile@2x.webp 2x"
                                media="(max-width: 767px)" />
                <img class="sale-watch-img" src="/img/sale/watch-one-mobile@1x.webp" alt="Watch one" />
            </picture>
          </li>
          <li class="sale-image-item">
            <picture class="sale-watch-img">
                <source srcset="/img/sale/watch-two-desctop@1x.webp 1x, 
                                /img/sale/watch-two-desctop@2x.webp 2x"
                                media="(min-width: 1280px)" />
                <source srcset="/img/sale/watch-two-tablet@1x.webp 1x,
                                /img/sale/watch-two-tablet@2x.webp 2x"
                                media="(min-width: 768px)" />
                <source srcset="/img/sale/watch-two-mobile@1x.webp 1x,
                                /img/sale/watch-two-mobile@1x.webp 2x" 
                                media="(max-width: 767px)" />
                <img class="sale-watch-img" src="/img/sale/watch-two-mobile@1x.webp" alt="Watch two" />
            </picture>
          </li>
          <li class="sale-image-item">
            <picture class="sale-watch-img">
                <source srcset="/img/sale/watch-three-desctop@1x.webp 1x, 
                                /img/sale/watch-three-desctop@2x.webp 2x" 
                                media="(min-width: 1280px)" />
                <source srcset="/img/sale/watch-three-tablet@1x.webp 1x,
                                /img/sale/watch-three-tablet@2x.webp 2x" 
                                media="(min-width: 768px)" />
                <source srcset="/img/sale/watch-three-mobile@1x.webp 1x,
                                /img/sale/watch-three-mobile@2x.webp 2x" 
                                media="(max-width: 767px)" />
                <img class="sale-watch-img" src="/img/sale/watch-three-mobile@1x.webp" alt="Watch three" />
            </picture>
          </li>
          <li class="sale-image-item">
            <picture class="sale-watch-img">
                <source srcset="/img/sale/watch-four-desctop@1x.webp 1x, 
                                /img/sale/watch-four-desctop@2x.webp 2x" 
                                media="(min-width: 1280px)" />
                <source srcset="/img/sale/watch-four-tablet@1x.webp 1x,
                                /img/sale/watch-four-tablet@2x.webp 2x" 
                                media="(min-width: 768px)" />
                <source srcset="/img/sale/watch-four-mobile@1x.webp 1x,
                                /img/sale/watch-four-mobile@2x.webp 2x" 
                                media="(max-width: 767px)" />
                <img class="sale-watch-img" src="/img/sale/watch-four-mobile@1x.webp" alt="Watch four" />
            </picture>
          </li>
          <li class="sale-image-item main">
            <picture class="sale-main-watch-img">
              <source srcset="/img/sale/watch-five-desctop@1x.webp  1x,
                              /img/sale/watch-five-desctop@2x.webp 2x"
                              media="(min-width: 1280px)" />
              <source srcset="/img/sale/watch-five-tablet@1x.webp 1x,
                              /img/sale/watch-five-tablet@2x.webp 2x"
                              media="(min-width: 768px)" />
              <source srcset="/img/sale/watch-five-mobile@1x.webp 1x,
                              /img/sale/watch-five-mobile@2x.webp 2x"
                              media="(max-width: 767px)" />
              <img src="/img/sale/watch-five-mobile@2x.webp" alt="Watch five" />
            </picture>
          </li>
        </ul>
        <div class="sale-text-block">
          <h3 class="sale-text-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
          <p class="sale-text-tag">Product tag: 706587</p>
          <ul class="sale-price">
            <li class="sale-actual-price">€1500</li>
            <li class="sale-old-price">€3000</li>
          </ul>
          <p class="sale-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
          <ul class="sale-tag-list">
            <li class="sale-tag-item">Fused carbon fiber </li>
            <li class="sale-tag-item">Grade-5 Titanuim</li>
            <li class="sale-tag-item">Athlete</li>
            <li class="sale-tag-item">Golfer</li>
            <li class="sale-tag-item">Commander</li>
            <li class="sale-tag-item">Adventurer</li>
          </ul>
        </div>
      </div>
  </div>
</section>