
.about-us{
    width: 335px;
}

.about-us-section{
    display: flex;
    flex-wrap: wrap; 
}

.about-us-cont{
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 40px 20px; 
    margin-bottom: 20px;
}

.about-us-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
}

.about-us-info-text{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.286;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}

.about-us-text-margin{
    margin-bottom: 40px;
}

.about-us-link-btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.286;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    color: #fbfbfb;
    background-color: #3350e9;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    border: none;
    padding: 15px 37px 15px 38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.about-us-link-btn:hover,
.about-us-link-btn:focus{
    background-color: #1f3cd4;
}

@media screen and (min-width: 768px){
    .about-us{
        width: 704px;
    }

    .about-us-cont{
        border-radius: 50px;
        padding: 80px 60px; 
        margin-bottom: 40px;
    }

    .about-us-title{
        font-size: 48px;
        line-height: 0.91667;
        margin-bottom: 40px;
    }

    .about-us-text-margin{
        margin-bottom: 40px;
    }

    .about-us-info-text{
        font-size: 16px;
        line-height: 1.25;
    }

}

@media screen and (min-width: 1280px){

    .about-us{
        width: 1280px;
    }  
      
      .about-us-cont {
        flex: 1;
        margin-right: 40px;
        margin-bottom: 0;
        max-width: 580px;
      }
    
      .about-us-img {
        border-radius: 50px;
        width: 530px;
        height: 532px;
      }
}