.advertisement_block {
  background-color: #0c0c0c;
  background-image: url(../img/advertisement/bg-img-mobile@1x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  border-radius: 30px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .advertisement_block {
    background-image: url(../img/advertisement/bg-img-mobile@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .advertisement_block {
   
    background-image: url(../img/advertisement/bg-img-tablet@1x.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .advertisement_block {
    background-image: url(../img/advertisement/bg-img-tablet@2x.webp);
  }
}
@media screen and (min-width: 1280px) {
  .advertisement_block {
    max-width: 1150px;
   
    background-image: url(../img/advertisement/bg-img-desctop@1x.webp);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px) {
  .advertisement_block {
    background-image: url(../img/advertisement/bg-img-desctop@2x.webp);
  }
}
.advertisement-container-content {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 28px;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .advertisement-container-content {
    padding: 80px 64px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .advertisement-container-content {
    padding: 83px 80px;
    gap: 140px;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
.advertisement-text-size {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.advertisement-text-color-changer {
  color: rgba(251, 251, 251, 0.5);
}
@media screen and (min-width: 768px) {
  .advertisement-text-size {
    font-weight: 700;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
  }
}
.advertisement-to-contact {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: transparent;
  display: block;
  width: 160px;
  height: 48px;
  padding: 15px 43px 15px 44px;
  white-space: nowrap;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advertisement-to-contact:hover,
.advertisement-to-contact:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}
