/* section-catalog */
.catalog-title {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .catalog-title {
        margin-bottom: 40px;
    }
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .catalog-list {
        column-gap: 16px;
        row-gap: 32px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-list {
        column-gap: 23px;
    }
}

.catalog-item {
    cursor: pointer;

    border-radius: 30px;
    background-color: #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    width: 335px;
}

@media screen and (min-width: 768px) {
    .catalog-item {
        width: 344px;

        transition: all 0.3s ease-in;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-item {
        width: 368px;
    }
}

.catalog-item-wrapper {
    padding: 24px 28px;
}

@media screen and (min-width: 768px) {
    .catalog-item-wrapper {
        padding: 24px 32px;
    }
}

.catalog-img {
    width: 100%;
    margin-bottom: 10px;

    transition: all 0.4s ease-in;
}

.catalog-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .catalog-subtitle {
        font-size: 20px;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}

.catalog-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

.catalog-btn-mob {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #fbfbfb;
    border-radius: 16px;
    padding: 15px 44px;
    min-width: 160px;
    height: 48px;
    background-color: #3350e9;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-btn-mob:hover,
.catalog-btn-mob:focus {
    background-color: #1f3cd4;
}

@media screen and (max-width: 767.97px) {
    .catalog-item-mob {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .catalog-btn-mob {
        display: none;
    }
}

/* H O V E R */

.catalog-item:hover {
    transform: scale(1.02);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease-in;
}

.catalog-item:hover .catalog-img{
    transform: scale(1.1);
    transition: all 0.4s ease-in;
}