/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
  }
}

.hero .section-wrap {
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-wrap {
  padding: 30px 0;
  margin: 0 auto;
}

section.contact-us {
  padding-bottom: 60px;
  padding-top: 30px;
}

section.catalog {
  padding-bottom: 60px;
  padding-top: 30px;
}

section.sale {
  padding-top: 60px;
  padding-bottom: 30px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .hero .section-wrap {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .section-wrap {
    padding: 40px 0;
    margin: 0 auto;
  }

  section.contact-us {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  section.catalog {
    padding-bottom: 80px;
    padding-top: 40px;
  }

  section.sale {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .hero .section-wrap {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .section-wrap {
    padding: 50px 0;
    margin: 0 auto;
  }

  section.contact-us {
    padding-bottom: 100px;
    padding-top: 50px;
  }

  section.catalog {
    padding-bottom: 100px;
    padding-top: 50px;
  }

  section.sale {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
