

.contact-us-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0C0C0C;
    margin-bottom: 24px;    
}
.contact-us-form {
    display: flex;
    margin-bottom: 28px;
    flex-direction: column;
    border-radius: 30px;
    padding: 48px 28px;
    max-width: 100%;
    height: 512px;
    background-color: #F3F3F3;
}
.contact-us-decription {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 28px;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;    
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 226px 12px 14px;
    width: 279px;
    height: 42px;
    background-color: #F3F3F3;
    margin-bottom: 18px;
    
}
.input:focus {
    border-color: #3350E9;
    outline: none;
}
::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #0C0C0C;
}     
.user-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 18px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding: 12px 136px 54px 14px;
    width: 279px;
    height: 84px;
    background-color: #F3F3F3;
    overflow: hidden;
    resize: none;
    margin-bottom: 28px;
}
.user-comment:focus {
    border-color: #3350E9;
    outline: none;
}
.btn-contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    border-radius: 16px;
    padding: 12px 50px;
    width: 134px;
    height: 42px;
    background-color: #3350E9;
    color: #FBFBFB;  
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;       
}
.btn-contact-us:hover,
.btn-contact-us:focus {
    background-color: #1F3CD4;
}
.image-box-mobile {
    border-radius: 30px;
    height: 512px;
    
}
.image-box-tablet, .image-box-screen {
    display: none;
}

@media screen and (min-width: 768px) {
    .contact-us-title {
        font-size: 48px;
        line-height: 0.92;
        margin-bottom: 40px;
    }  
    .contact-us-form {
        width: 704px;
        height: 556px;
        padding: 50px 122px;
        width: 704px;
        height: 556px;
        margin-bottom: 40px;
        padding: 50px 122px;
   }
   .contact-us-decription {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 32px;
   }
   .input {
        padding: 16px 398px 16px 18px;
        width: 460px;
        height: 52px;
        margin-bottom: 18px;
    }
    .user-comment {
        padding: 16px 315px 54px 16px;
        width: 460px;
        height: 90px;
    }
    .btn-contact-us {
        gap: 10px;
        padding: 17px 63px;
        width: 160px;
        height: 52px;
        
    }
    .image-box-tablet {
        display: block;
        border-radius: 50px;
        width: 704px;
        height: 556px;
        margin-left: 0;        
    }
    .image-box-mobile, .image-box-screen {
        display: none;
    }
}
@media screen and (min-width: 1280px){
    .contact-us-box {
        display: flex;
        align-items: flex-start;
    }
    .contact-us-form {
        width: 580px;
        height: 556px;
        border-radius: 50px;
        padding: 50px 60px;
        margin: 0;
    }    
    .image-box-screen {
        display: block;
        width: 530px;
        height: 556px;
        margin-left: 40px;  
    }
    .image-box-mobile, .image-box-tablet {
        display: none;
    }
    .btn-contact-us {
        padding: 17px 63px;
        width: 160px;
        height: 52px;        
    }   
}

        
   