/* MAIN */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}  
.container{
    background-color: #fbfbfb;
    
}



/* HERO SECTION */
.hero{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 28px;
}

.hero-h{
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    
    font-family: inherit;
   
}
.hero-span{
    color: #3350E9;
}
 .hero-p{
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);

 }
 .hero-text{
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 20px;
margin-bottom: 20px;
 }
 
 .hero-imgs{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    width: 335px;
    height: 44px;
    gap: 253px;
    position: relative;
    

 }
 .hero-list{
   display: flex;
  
  
 }
 
  .hero-piple {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .hero-li{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
   
 }
 
 .hero-li:nth-child(1) {
    z-index: 1;
    left: 0; 
  }
  
  .hero-li:nth-child(2) {
    z-index: 2;
    left: 30px; 
  }
  
  .hero-li:nth-child(3) {
    z-index: 3;
    left: 60px; 
  }

 .hero-button{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    border: none;
    background-color: #fbfbfb;  
    padding: 0;
   
 }

 .hero-button:hover{
    color: #3350E9;
 }
 
 .hero-pic{
    background: rgba(12, 12, 12, 0.2);
    border-radius: 30px;
    background-color: #fbfbfb;
 }

 @media screen and (min-width: 768px) {
    .hero{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 40px;
       
       
    }
  .text-imgs-div{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 11px;
    align-items: baseline;
    
  }
    .hero-imgs{
        display: flex;
      padding-top: 45px;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;
      gap: 130px;
      width: 146px;
 }
  
    .hero-button{
        padding-top: 60px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 180px;
        
    }
    .hero-text{
        margin-top: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 557px;
        height: 260px;
     
        
    }
    .hero-h{
        font-size: 70px;
        line-height: 0.85714;;
         width: 597px;
        height: 269px;
    }
    .hero-p{
        font-size: 16px;
        line-height: 1.25;
        
    }
   
    .hero-list li{
        width: 56px;
        height: 56px;
      }

    .hero-text{
        width: 557px;
    }
    .hero-main-pic{
        border-radius: 50px;
    }
    .hero-li:nth-child(1) {
        z-index: 1;
        left: 0; 
      }
      
      .hero-li:nth-child(2) {
        z-index: 2;
        left: 45.5px; 
      }
      
      .hero-li:nth-child(3) {
        z-index: 3;
        left: 89px; 
      }
    
 }
 @media screen and (min-width: 1280px) {
   
    .hero-list li{
        width: 60px;
        height: 60px;
      }
      .text-imgs-div{
        display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 430px;
    align-items: baseline;
width: 1150px;
     }
   
    .text-imgs{
     gap: 407px;

    }
    .hero-imgs{
        display: flex;
        margin-top: 60px;
      align-items: flex-end;
justify-content: flex-start;
flex-direction: column;
gap: 130px;
width: 146px;
padding-left: 0;

    }
    .hero-text{
        gap: 20px;
    }
    
    .hero-h{
        font-size: 72px;
        line-height: 0.85714;;
       
    }
    .hero-p{
        font-size: 16px;
        padding-right: 70px;
       
        height: 60px;
    }
    
   .hero-button{
    padding-top:65px;
   }
  
 }

