/* HERO SECTION */

.text-imgs-div {
  margin-bottom: 28px;

    display: flex;
    justify-content: space-between;
    align-self: start;
    flex-wrap: wrap;
    gap: 28px;
}

.hero-h {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.02em;
    font-family: inherit;
 }

.hero-span {
    color: #3350E9;
}

.hero-p {
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
color: rgba(12, 12, 12, 0.7);
 }

 .hero-text {
display: flex;
justify-content: flex-start;
flex-direction: column;
gap: 20px;
 }
 
.hero-imgs {
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
 }

 .hero-users {
  max-width: 108px;
 }

 .hero-users-list {
  padding-left: 15px;
  display: flex;

  height: 100%;
 }

 .hero-user-item {
  width: 40px;
  height: 40px;
 }
 
  .hero-piple {
    margin-left: -16.35px;
    width: 40px;
    height: 40px;
  }
 
 .hero-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-decoration: underline;
    }

    .hero-button:focus,
    .hero-button:hover {
    color: #3350E9;
 }
 
 .hero-pic {
    background: rgba(12, 12, 12, 0.2);
    border-radius: 30px;
    background-color: #fbfbfb;
 }

 @media screen and (min-width: 768px) {
 
  .hero {
    padding-top: 80px;
  }
  .text-imgs-div {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0;
}
    .hero-text {
      max-width: 557px;   
    }
   
    .hero-h {
        font-size: 70px;
      }
   
    .hero-p {
      max-width: 480px;
        font-size: 16px;
        line-height: 1.25;
       }
   
    .hero-users{
      position: relative;
      max-width: 135px;
      height: 60px;
    }
   
    .hero-piple {
      z-index: -1;
      line-height: 1;
      position: absolute;
      width: 56px;
      height: 56px;
  }
   
  .hero-users-item {
    width: 60px;
  }

   .hero-imgs {
     width:auto;
     flex-direction: column;
  }
    }
 
 @media screen and (min-width: 1280px) {
  .hero-text {
    max-width: 597px;
  }
    .hero-h {
        font-size: 72px;
       }
   
    .hero-p {
        font-size: 16px;
    } 
   
    .hero-users {
      max-width: 145px;
      }
   
    .hero-piple {
      width: 60px;
      height: 60px;
      position: absolute;
     }
   }