.title-section-foto-reviews {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    text-align: left;
    margin-bottom: 24px;
}

.ul-foto-reviews {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
}

.list-foto-reviews {
    flex: 0 0 auto;
}

.list-foto-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 32px 36px;
    width: 335px;
    height: 262px;
    background: #f3f3f3;
    text-align: center;
}

.title-foto-reviews {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 8px;
}

.text-foto-reviews {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.4);
    text-align: center;
}

.foto-reviews {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .title-section-foto-reviews {
        font-size: 48px;
        line-height: 0.91;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
    }

    .title-foto-reviews {
        font-size: 18px;
        line-height: 1.1;
        text-align: center;
    }

    .text-foto-reviews {
        font-size: 16px;
        line-height: 1.25;
    }

    .list-foto-reviews {
        width: 344px;
        height: 272px;
    }

}

@media screen and (min-width: 1280px) {
    .ul-foto-reviews {
        gap: 20px;
        overflow: hidden;
    }

    .list-foto-reviews {
        width: 370px;
    }
}